
main form {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 600px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    transition: 200ms linear;
}

main form:hover {
    box-shadow: 0px 0px 10px #00000023;
}

main form h2 {
    font-size: 30px;
    margin-bottom: 10px;
    
}

main form fieldset {
    display: flex;
    flex-direction: column;
}

main form input, main form textarea {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid #292929;
}

main form button {
    font-size: 23px;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    color: black;
    cursor: pointer;
    background-color: #dadada;
    transition: 250ms ease;
}

.btn-padrao:hover {
    background-color: #69696967;
}